<footer>
  <p><small>&copy; 2021 Fabian Teufel</small></p>
  <p><small><a href="https://www.flaticon.com/free-icons/cat" title="cat icons">Cat icons created by Freepik - Flaticon</a></small></p>
</footer>
