<header class="podHeader">
  <a href="/">
    <img
      src="https://cdn-icons-png.flaticon.com/512/763/763776.png"
      width="80"
      alt="Picture of a poscast listening cat"
    />
    <h1 id="heading" >Podcats</h1>
  </a>
</header>
