.bodyContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100%;
  align-content: flex-start;
  height: 100%;
}
.informations{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.mainContainer{
  flex-grow: 10;
}
.podAside {
  flex-basis: 20%;
}
@media screen and (max-width: 768px) {
    .informations{
        flex-direction: column;
    }
}