.bodyContainer {
  display: grid;
  grid-template-columns: auto auto 30%;
  grid-template-areas: "header header header" "desc pic aside" "footer footer footer";
}
.podPicture {
  grid-area: pic;
  width:100%;

}
.podDescription {
  grid-area: desc;
}
.podAside {
  grid-area: aside;
}
.podFooter {
  grid-area: footer;
}
.podHeader {
  grid-area: header;
}
.podNav {
  grid-area: nav;
}

@media screen and (max-width: 768px) {
  .bodyContainer {
    grid-template-areas: "header header" "desc pic" "aside aside" "footer footer";
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 480px) {
  .bodyContainer {
    grid-template-areas: "header" "desc" "pic" "aside" "footer";
    grid-template-columns: auto;
  }
}
